Package: com.mourke.popcorntime.ios
Name: Popcorn Time
Version: 0.0.1
Architecture: iphoneos-arm
Description: An iOS application to torrent movies and tv shows for streaming.
Homepage: http://popcorntime.sh
Maintainer: mourke <popcorntimetvos@outlook.com>
Depiction: https://popcorntimetv.github.io/depiction
Author: mourke <popcorntimetvos@outlook.com>
Section: Applications
Depends: firmware(>= 9.0)
Icon: file:///Applications/Cydia.app/Sections/Entertainment.png
