Package: com.popcorntimetv.popcorntime.ios
Name: Popcorn Time
Version: 1.0.2
Architecture: iphoneos-arm
Description: An iOS application to torrent movies and tv shows for streaming.
Homepage: http://popcorntime.sh
Maintainer: PopcornTimeTV <popcorn@time.tv>
Depiction: https://popcorntimetv.github.io/depiction
Author: PopcornTimeTV <popcorn@time.tv>
Section: Applications
Depends: firmware(>= 9.0)
Icon: file:///Applications/Cydia.app/Sections/Entertainment.png
